# macOS files
.DS_Store

tests/*.native
tests/*.pdf

# python auxiliary 
__pycache__/
.cache
*.pyc

# pypi
dist/
pantable.egg-info/

# coverage
.coverage
htmlcov/

# pycharm
.idea/

# rst2html
README.html
