# macOS files
.DS_Store

tests/reference_idempotent.native
tests/*.native
!tests/reference_pantable.native
tests/*.pdf

# python auxiliary 
__pycache__/
.cache
*.pyc

# pypi
dist/
pantable.egg-info/

# coverage
.coverage
.coverage.*
htmlcov/

# pycharm
.idea/

# rst2html
README.rst
README.html

.mypy_cache/
.pytest_cache/
build/
.vscode/

gh-pages/

docs/*
!docs/badges.markdown
!docs/comparison.csv
!docs/example.csv
!docs/README.md
# Sphinx
!docs/conf.py
!docs/index.rst
!docs/make.bat
!docs/Makefile
!docs/requirements.txt
