# macOS files
.DS_Store

tests/reference_idempotent.native
tests/*.native
tests/*.pdf

# python auxiliary 
__pycache__/
.cache
*.pyc

# pypi
dist/
pantable.egg-info/

# coverage
.coverage
.coverage.*
htmlcov/

# pycharm
.idea/

# rst2html
README.html

.mypy_cache/
.pytest_cache/
build/
.vscode/
